/* Sets style for sudoku cells */

.sudoku_cell_value {
  width: 36px;
  height: 36px;
  font-size: 25px;
  text-align: center;
  line-height: 36px;
  margin: 8px;
}

.sudoku_cell_value[is_editable="false"]{
  font-weight:bold;
}

.sudoku_cell_value[highlighted="true"]{
  border: solid 1px orange;
}
.sudoku_cell_value[highlighted="false"]{
  border: none;
}


.notes_mode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.notes_mode > p {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding:0;
}

.notes_mode > p[highlighted="true"] {
  border: solid 1px orange;
}

.notes_mode > p[highlighted="false"] {
  border: none;
}