.game_menu{
  border: solid 1px gray;
}

.button_pad{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:7px;
  width: fit-content;
}

button {
  height: 45px;
  width:  45px;
  font-size: 20px;
}
