/* Sets style for sudoku cells */

.sudoku_cell_value {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 40px;
  margin: 6px;
}

.notes_mode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.notes_mode > p {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  margin: 0;
  padding:0;
}