/* Sets style for sudoku cells */
.sudoku_cell {
  width: 52px;
  height: 52px;
  border: solid 1px lightgray;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* Set horizontal lines for Squares */
.sudoku_cell[cell_row^="1"], .sudoku_cell[cell_row^="4"], .sudoku_cell[cell_row^="7"]{
  border-top: solid 2px black;
}
.sudoku_cell[cell_row^="9"]{
  border-bottom: solid 2px black;
}

/* Set vertical lines for Squares */
.sudoku_cell[cell_col^="1"], .sudoku_cell[cell_col^="4"], .sudoku_cell[cell_col^="7"]{
  border-left: solid 2px black;
}
.sudoku_cell[cell_col^="9"]{
  border-right: solid 2px black;
}

.sudoku_cell[cell_is-editable='true']{
  cursor:pointer;
}

.sudoku_cell[cell_is-selected=true], .sudoku_cell[cell_is-selected=true] > span {
  background-color: lightblue;
}

.killer_zone_value{
  display: block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 10px;
  background-color:white;
  z-index: 5;
  text-align: center;
  position:absolute;
  top: 0;
}