.sudoku_grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 50px;
}

 